.home-site-header-bg {
    background-image: linear-gradient(45deg, #553c9a, #b393d3);
    padding: 1%;
    color: white;
    position: sticky;
}

.home-site-header {
    text-align: left;
    margin-left: 25px;
    margin-top: 0.5em;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.home-container {
    padding: 2%;
}

.home-select-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: linear-gradient(45deg, #553c9a, #b393d3);
    padding: 2%;
    color: white;
    margin-top: 2%;
    border: 1px solid #b393d3;
    position: sticky;
}

.home-datePicker {
    position: relative;
    background: white;
    padding: 4%;
    cursor: pointer;
    font-size: 17px;
    font-size: 17px;
    text-indent: 1px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 60%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #b393d0;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.4);
    border-radius: .5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

h3 {
    text-align: left;
}

.home-search-margin {
    margin-right: 50px;
}

.home-loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #b393d3;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.home-error-message {
    color: red;
    text-align: center
}